# Data Science Tools and Ecosystem

## Author
Erin L. Thiele

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Data Science Tools
- List popular languages for Data Science
- List popular libraries for Data Science
- Learn to use Jupyter Lab and Jupyter Notebooks
- Learn about RStudio and GitHub

### Some of the popular languages that Data Scientists use are:
1. SQL 
2. Java
3. Scala
4. C++
5. Java Script
6. Julia

### Some of the popular libraries that Data Scientists use are:Â¶
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Sci-kit Learn Library
6. TensorFlow
7. Pytorch
8. Apache Spark
9. Scala
10. R

|Data Science Tools|
|------------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This is a simple arthimetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 mintues to hours by dividing by 60
200/60

3.3333333333333335